.footer-flex {
  width: 100%;
}

.footer-flex {
  display: flex;
}
.cols {
  flex: 1;
  padding: 20px;
  border: 1px solid gray;
  margin: 20px;
}
#footer-nav {
  text-decoration: none;
}
#footer-contact-form {
  text-align: center;
}
#social-icons {
  width: 100%;
  padding: 20px;
  /* border: 1px solid gray; */
  text-align: center;
}
